.App {
  text-align: center;
}
nav{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 10vh;
  background:#000;
  color:#0ff; 
}
.nav-link{
  width:40%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin:5px; 
}
 
.Active{
  border:1px solid #ff0;
  color:#f00;
}